
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Layout</title>
    <link href="~/asset/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/Home/Liste/">Rehber Uygulaması</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/Liste/">Liste</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Home/YeniKisi/">Yeni Kişi Ekle</a>
                    </li>
                </ul>
                <form class="d-flex" action="/Home/Ara/" method="post">
                    <input class="form-control me-2" type="search" placeholder="Ad, Soyad, Telefon" aria-label="Search" name="deger">
                    <button class="btn btn-outline-success" type="submit"> Ara</button>
                </form>
            </div>
        </div>
    </nav>


    <div>
        @RenderBody()
    </div>
    <script src="~/asset/js/bootstrap.min.js"></script>
</body>
</html>
